#ferrisWheelAnimation {
  visibility: hidden;
  position: absolute;
  @include media-breakpoint-up(md) {
    visibility: visible;
    width: 500px;
    left: 80%;
    bottom: 250px;
  }
  @include media-breakpoint-up(xl) {
    width: 500px;
    left: 80%;
    bottom: 250px;
  }
  @include media-breakpoint-up(xl) {
    width: 600px;
    left: 80%;
    bottom: 235px;
  }
}
