{{ define "main" -}}

<div class="row indexsection justify-content-center mt-sm-2 mt-md-3 mt-lg-4 mt-xl-6">
  {{ if gt (len .Pages) 0 -}}
  <div class="col-md-8 col-lg-6 py-4 py-lg-5 pl-4 pl-lg-6 bg-white">
    {{ if eq .Type "work" }}
    {{ range .Pages -}}
      {{ partial "listItemWork.html" . }}
    {{- end }}
    {{ else }}
    {{ range .Pages -}}
      {{ partial "listItem.html" . }}
    {{- end }}
    {{- end }}
  </div>
  {{- end }}
</div>

<!-- <p>{{ printf "%#v" .IsNode }}</p> -->
<!-- {{ partial "debugprint.html" . }} -->
<!-- {{- $current := printf "%#v" .Resources -}} -->
<!-- <p>{{ printf $current }}</p> -->
<!-- <ul class="posts">
  {{ range .Data.Pages -}}
  <li>
    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
  </li>
  {{- end }}
</ul>  -->
{{- end }}
