<div class="container-fluid{{ if not .IsHome  }} bg-theme-dark{{ end }}">
  <div class="container text-white py-5 py-md-7{{ if .IsHome }} py-lg-10{{ end }}">
    <div class="row justify-content-md-center align-items-center">
      {{ if .IsHome }}
      <div class="col-lg-3">
        <div class="thumbnail mx-auto">
          <img class="thumbnail-img" src="assets/thumbnail.jpg" alt="Mohammad Alahmadi" />
        </div>
      </div>
      {{ end }}
      <div class="col-lg-{{ if .IsHome }}7{{ else }}10{{ end }}">
        <div class="header ml-lg-2">
          {{ if .IsHome }}
          {{ partial "banner/home.html" . }}
          {{ else if eq .Type "work" }}
          <h1 class="header-h1 text-center  mt-2 mt-lg-0 pb-3">{{ .Title }}</h1>
          {{ else }}
          {{ partial "banner/post.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
