<h1 class="header-h1 text-center  mt-2 mt-lg-0 pb-3">{{ .Title }}</h1>
{{ if not .Params.nodescription }}
<p class="header-p gray-400 lead text-center font-weight-light mt-4">{{ if .Description }}{{ .Description | markdownify }}{{ else }}{{ .Summary }}{{ end }}</p>
{{ end }}
<div class="d-flex justify-content-center gray-500">
  <p class="mx-2 mb-0">
    <svg xmlns="http://www.w3.org/2000/svg" class="octicon" height="16" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"/></svg>
    <span class="my-0">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  </p>
  <p class="mx-2 mb-0">
    <svg xmlns="http://www.w3.org/2000/svg" class="octicon" width="14" height="16" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M8 8h3v2H7c-.55 0-1-.45-1-1V4h2v4zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"/></svg>
    <span class="my-0">{{ .ReadingTime }} min read</span>
  </p>
</div>
