<div class="container-fluid bg-theme-dark">
  <div class="container text-white py-5 py-md-7 py-lg-10">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-lg-3">
        <div class="thumbnail mx-auto">
          <img class="thumbnail-img" src="assets/thumbnail.jpg" alt="Mohammad Alahmadi" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="header ml-lg-2">
          {{ if .IsHome }}
          <h1 class="header-h1  mt-2 mt-lg-0 pb-3">
            {{ if isset .Params "author" }}
            {{ .Params.author }}
            {{ else }}
            Author Name
            {{ end }}
          </h1>
          <p class="header-p font-weight-light mt-4 mb-0">
            {{ if isset .Params "aboutme" }}
            {{ .Params.aboutme }}
            {{ else }}
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            {{ end }}
          </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
