{{- $current := . -}} 
{{- $.Scratch.Set "isPage" true -}}
{{- range .Site.Menus.main -}} 
  {{- if $current.IsMenuCurrent "main" . -}}
  {{- $.Scratch.Set "isPage" false -}}
  {{- end -}}
{{- end -}}
<div id="header" class="container-fluid{{ if not .IsHome  }} bg-theme-dark{{ end }}">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-theme {{ if $.Scratch.Get "isPage" }}navbar-border{{ end }}">
      <a class="navbar-brand px-3" href="{{ .Site.BaseURL }}">M</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        {{ with $.Site.Params.social -}}
        <ul class="navbar-nav flex-row mr-1 ml-auto pt-3 pb-2">
          {{ partial "social.html" . }}
        </ul>
        {{- end }}
        {{ partial "navTop.html" . }}
      </div>
    </nav>
  </div>
</div>
