
{{ $thumbnail := index (.Resources.Match "thumbnail") 0 }}
<!-- <a href="{{ .URL }}" class="d-block indexsection-entry"> -->
<div class="d-block indexsection-entry">
  <div class="media flex-column flex-md-row">
    {{ with $thumbnail }}
    <img class="mr-0 mr-md-4 rounded img-fluid align-self-center align-self-md-start" src="{{ .RelPermalink }}" alt="Parker Matthews Website" style="max-width: 200px;">
    {{ end }}
    <div class="media-body align-self-center align-self-md-start">
      <a href="{{ .URL }}"><h2 class="indexsection-entry-title mt-2 mt-md-0 text-center text-md-left">{{ .Title }}</h2></a>
      {{ with .Params.details -}}
      <ul class="list-group list-group-flush">
        {{ with .project }}<li class="list-group-item pl-0"><strong>Project:</strong> {{ . }}</li>{{ end }}
        {{ with .services }}<li class="list-group-item pl-0"><strong>Services:</strong> {{ . }}</li>{{ end }}
        {{ with .type }}<li class="list-group-item pl-0"><strong>Type:</strong> {{ . }}</li>{{ end }}
        {{ with .projecturl }}<li class="list-group-item pl-0"><strong>Project URL:</strong> <a class="no-color-link" href="{{ . }}" target="_blank" rel="noopener noreferrer">{{ . }}</a></li>{{ end }}
      </ul>
      {{- end }}
      <!-- {{ partial "debugprint.html" . }} -->
    </div>
  </div>
</div>
  